@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
}
form {
    margin-bottom: 15px;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/landingbackground.png) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.gridlayout{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/landingbackground.png) no-repeat 50% 50%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    top: 0;
    background-size: cover; 
}
.displaygrid{
    display: inline-grid;
    grid-column-gap: 20px;
}
#displayName{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 5px;
}
#displayHours{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    grid-column-start: 2;
}
#displayRating{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    grid-column-start: 3;
}
.outerStars{
    display: inline-block;
    position: relative;
    font-family: FontAwesome
}
.outerStars::before{
    content: "\f006 \f006 \f006 \f006 \f006"
}
.innerStars{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.innerStars::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b
}
#displayCost{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    grid-column-start: 4;
}
#displayAddress{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.upper {
    height: 100%;
    width: auto;
    grid-row: 1;
    top: 0;
    background-size: cover;
}
.lower {
    width: auto;
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    grid-row: 2;
    background-size: cover;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}
input[type=submit] {
    border-radius: 9px;
    font-family: 'Oswald';
    color: #3D7EFF;
    font-size: 135%;
    padding: 5px 10px;
    margin: 0 auto;
    border: solid #3D7EFF 3px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    
}
input[type=submit]:hover {
    color: #FFF;
    border: solid #FFF 3px;
}
input[type=text] {
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    border: solid #F9F3F4 3px;
    margin: 8px 8px;
}
.inputs {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}